# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.production

# State local
.data/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
